body{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    background-color: #cbdbc5;
}

.header {
    display: flex;
    margin: none;
    justify-content: center;
}
.header img{
    width: 400px;
}

.hero{
    flex-direction: column;
    gap: 20px;
}

.img1{
    width: 800px;
    background-color: white;
    padding: 20px;
    margin-left: 2%;
    margin-bottom: 15px;
}

.img2{
    width: 800px;
    background-color: white;
    padding: 20px;
    margin-left: 43%;
    margin-top: 15px;
}