body{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    background-color: #cbdbc5;
}

div.header {
    display: flex;
    margin: auto;
}

.header .logo{
    width: 400px;
    margin: auto;
    border: 5px solid white;
    background-color: #e8e6e6;
    margin-left: 100px;
    margin-block: 15px;
}

.header .menu{
    display:flex;
    width: 75px;
    height: 75px;
    margin-left: 900px;
    margin-block: 15px;
    position: fixed;
}

.hero{
    gap: 20px;
}

.img1{
    width: 800px;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.img2{
    width: 800px;
    background-color: white;
    padding: 20px;
    margin-left: 43%;
    margin-right: 10px;
    margin-top: 15px;
}

.footer{
    align-self: center;
    margin: 15px;
}

.footer .socials{
    display: flex;
    gap: 20px;
}

.socials img{
    width: 75px;
}